.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 1.5rem;
  &--title {
    margin: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    &--item {
      text-align: left;
      background-color: #e8b684;
      color: #6a3e12;
      width: 100%;
      padding: 10px 5px;
      margin: 5px 0;
      box-sizing: border-box;
      border-radius: 5px;
    }
  }
}
