
.select {
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &__head {
    width: 100%;
    border: 1px solid #282c34;
    padding: 1.5px 15px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    &--title {
      font-size: 16px;
      font-weight: 400;
      text-transform: capitalize;
    }

    &--icon {
      width: 16px;
      height: 16px;
      transition: .4s;

      &.show {
        transform: rotate(180deg);
      }
    }
  }

  &__options {
    background-color: #ffffff;
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    overflow-y: hidden;
    opacity: 0;
    height: 0;
    transition: opacity .4s;

    &.show {
      border: 1px solid #282c34;
      margin-top: 10px;
      padding: 10px 15px 25px;
      box-sizing: border-box;
      opacity: 1;
      height: max-content;
    }

    &--item {
      padding: 5px 0;
      cursor: pointer;
      text-transform: capitalize;
    }
  }
}
